<h4>2020-04-27</h4>
<p>修改学术导航页，添加个人书签等。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-04-26</h4>
<p>弃用GitHub Page并将仓库私有化。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-04-15</h4>
<p>修改留言页为学习资源页，分享资料。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-04-13</h4>
<p>新增导航主页，添加很多学术网站。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-04-10</h4>
<p>修复index联系表单，修改about介绍。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-04-07</h4>
<p>添加了微信公众号二维码，修改主页查看预览图。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-04-05</h4>
<p>修改了博客运行时间，在底部可实时显示。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-04-05</h4>
<p>添加谷歌收录和百度收录的sitmap。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-04-04</h4>
<p>增加归档页</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-04-04</h4>
<p>双重布局国外GitHub pages和国内coding，提升访问速度。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-03-31</h4>
<p>增加留言页；修改了About主页申明；修改音乐外链。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-03-30</h4>
<p>增加UP返回顶部按钮；修改了About主页申明；修改了浮云tag；新增打赏功能；新增下拉式导航页。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-03-30</h4>
<p>添加动态背景图；博文中图片放大功能；增加markdown里的B站视频外链。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-03-29</h4>
<p>添加来必比评论功能；添加网站访问点击量和访问人数功能；还有RSS邮箱订阅内容。</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-03-28</h4>
<p>博客修改About相关内容</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
<h4>2020-02-25</h4>
<p>创建个人博客！</p>
<hr style="height:1px;border:none;border-top:1px dashed #555;" />
